<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitLife - About Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../styles/aboutus.css">
    <link rel="stylesheet" href="../styles/faqQues.css">
    <link rel="stylesheet" href="../styles/font.css">
    <link rel="stylesheet" href="../styles/template.css">
    <link rel="stylesheet" href="../styles/fatlosstips.css">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#"><img src="../images/FitLife.png" alt="FitLife Logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto"> <!-- Center the menu items -->
              <li class="nav-item"><a class="nav-link" href="home.html#home">Home</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="home.html#features" id="dropdownHealthTips" role="button" aria-expanded="false">
                  Features
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownHealthTips">
                  <a href="fatlosstips.html">Workout Program</a>
                  <a href="food.html">Food Recommendations</a>
                  <a href="product.html">Product Recommendation</a>
                  <a href="calculatorpage.html">Health Calculator</a>
                  <a href="findgym.html">Find Gym</a>
                  <a href="membership.html">Membership</a>
    
                </div>
              </li>
              <li class="nav-item"><a class="nav-link" href="faqQues.html">FAQ</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownAbout" role="button" aria-expanded="false">
                  About
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownAbout">
                  <a href="aboutus.html">About Us</a>
                  <a href="ourteam.html">Our Team</a>
                </div>
              </li>
    
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="profile.html" id="dropdownProfile" role="button" aria-expanded="false">
                  <i class="bi bi-person profile-icon"></i> Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownProfile">
                  <a href="register.html">Join Us</a>
                  <a href="login.html">Sign In</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
    <section id="aboutus">
        <header class="masthead">
            <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center text-center">
                        <div class="col-lg-10 align-self-end">
                            <h1 class="text-white font-weight-bold header-text-box">Welcome To FitLife</h1>
                        </div>
                        <div class="col-lg-8 align-self-baseline">
                            <p1 class="text-white font-weight-light mb-5 header-text-box">It's Nice To Meet You</p1>
                            <a class="btn btn-dark btn-xl js-scroll-trigger" href="#aboutus1">Tell Me More</a>
                        </div>
                    </div>
            </div>
            <video autoplay muted loop id="video-background" playsinline>
                <source src="../videos/bgaboutus.mp4" type="video/mp4">
                <!-- Fallback content -->
                <img src="fall.jpg" alt="Background">
            </video> 
        </header>
    </section>
    
    
    
    <div class="container my-5">
        <section id="aboutus1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-box">
                        <h2>About Us</h2>
                        <p>Welcome to FitLife, where your fitness journey begins. Our mission is to provide top-notch fitness services and resources to help you achieve your health and wellness goals. Join us and be a part of our community.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="../images/aboutus.jpg" alt="About Us" class="img-fluid">
                </div>
            </div>
        </section>
        
    </div>

    <section id="vision">
        <h1 class="text-center">Vision And Mission</h1>
    
        <div class="row">
            <div class="col-lg-4">
                <div class="hot-sales-flip-card-container">
                    <div class="hot-sales-flip-card">
                        <div class="hot-sales-flip-card-inner">
                            <div class="hot-sales-flip-card-front">
                                <h3>Slogan</h3>
                            </div>
                            <div class="hot-sales-flip-card-back">
                                <p>"Empower Your Health, Transform Your Life"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="hot-sales-flip-card-container">
                    <div class="hot-sales-flip-card">
                        <div class="hot-sales-flip-card-inner">
                            <div class="hot-sales-flip-card-front">
                                <h3>Mission</h3>
                            </div>
                            <div class="hot-sales-flip-card-back">
                                <p>To inspire and support individuals in their fitness journey by providing top-notch fitness services,
                                    personalized training programs, and comprehensive wellness resources, fostering a community dedicated to 
                                    achieving optimal health and well-being.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="hot-sales-flip-card-container">
                    <div class="hot-sales-flip-card">
                        <div class="hot-sales-flip-card-inner">
                            <div class="hot-sales-flip-card-front">
                                <h3>Objectives</h3>
                            </div>
                            <div class="hot-sales-flip-card-back">
                                <ol>
                                    <li>Personalized Fitness Programs: Offer customized training plans that cater to individual needs and goals, ensuring each member receives the guidance and support they need to succeed.</li>
                                  </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section id="sliding-section">
        <div class="text-center">
            <h2>WHERE IS THE FIT LIFE?</h2>
            <p>Everywhere.</p>
            <p>The globalization of the world has made it critical to be a part of a world-spanning network.</p>
        </div>
        <div class="slider-wrapper">
            <div class="slider-line">
                <img src="../images/image1.jpeg" alt="Image 1">
                <img src="../images/image2.jpg" alt="Image 2">
                <img src="../images/image3.jpeg" alt="Image 3">
                <img src="../images/image4.jpg" alt="Image 4">
                <img src="../images/image5.jpg" alt="Image 5">
            </div>
        </div>
        <div class="slider-wrapper">
            <div class="slider-line slider-line-reverse">
                <img src="../images/image6.jpeg" alt="Image 6">
                <img src="../images/image7.jpg" alt="Image 7">
                <img src="../images/image8.jpg" alt="Image 8">
                <img src="../images/image9.jpg" alt="Image 9">
                <img src="../images/image10.jpg" alt="Image 10">
            </div>
        </div>
    </section>

    <section id = "about-section">
        <section class="about-section">
            <h2>ABOUT</h2>
            <p>A thousands miles start with a single step.</p>
            <div class="timeline">
                <div class="timeline-item">
                    <div class="timeline-img">
                        <img src="../images/1.jpg" alt="Our First Step">
                    </div>
                    <div class="timeline-content">
                        <h3>2010-2016</h3>
                        <h4>Our First Step</h4>
                        <p>It is very important for the customer to pay attention to the customer's needs. They are such that the wise man rejects the whole of his pleasures at times, whence it is indeed to be refused, but, they also fall, and with what pain the praisers are followed!</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-img">
                        <img src="../images/2.jpg" alt="An Agency is Born">
                    </div>
                    <div class="timeline-content">
                        <h3>March 2016</h4>
                        <h4>An Agency is Born</h4>
                        <p>The box sat on the desk next to the computer. It had arrived earlier in the day and business had interrupted her opening it earlier. She didn't who had sent it and briefly wondered who it might have been. As she began to unwrap it, she had no idea that opening it would completely change her life.</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-img">
                        <img src="../images/3.jpg" alt="Transition to Full Service">
                    </div>
                    <div class="timeline-content">
                        <h3>December 2020</h3>
                        <h4>Transition to Full Service</h4>
                        <p>She heard the loud impact before she ever saw the result. It had been so loud that it had actually made her jump back in her seat. As soon as she recovered from the surprise, she saw the crack in the windshield. It seemed to be an analogy of the current condition of her life</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-img">
                        <img src="../images/4.jpg" alt="Phase Two Expansion">
                    </div>
                    <div class="timeline-content">
                        <h3>July 2024</h3>
                        <h4>Phase Two Expansion</h4>
                        <p>They told her that this was her once chance to show the world what she was made of. She believed them at the time. It was the big stage and she knew the world would be there to see. The only one who had disagreed with this sentiment was her brother. He had told her that you don't show the world what you're made of when they are all watching, you show that in your actions when nobody was looking. It was looking more and more like her brother was correct.</p>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="timeline-img">
                        <div class="timeline-img-text">Be Part Of Our Story!</div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    
    <section id="contact-section" class="py-5 bg-white text-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-uppercase">Send Us Your Comments</h1>
                    <hr style="width: 100%">
                    <p class="lead">Have questions or comments?</p>
                    <div id="alert"></div>
                </div>
            </div>
    
            <div class="row">
                <form id="contact-form">
                    <input type="hidden" name="access_key" value="5d489732-0df5-48ca-ac9d-b436bccb0b2a">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="name" class="sr-only">Name</label>
                                <input type="text" class="form-control input-lg" id="name" name="name" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" class="form-control input-lg" id="email" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="phone" class="sr-only">Phone Number</label>
                                <input type="text" class="form-control input-lg" id="phone" name="phone" placeholder="Phone Number">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <label for="message" class="sr-only">Message</label>
                                <textarea class="form-control input-lg" rows="8" id="message" name="message" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <!-- Insert hCaptcha widget here -->
                                <div class="h-captcha" data-sitekey="e4a6d0cc-514a-487e-9f6c-f70eb6f6989e"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-dark btn-lg btn-block" id="send" style="color: white; border: 1px solid black;">Contact Us</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    
    

    <footer class="bg-dark text-white text-center py-3" style="margin-top: 2rem;">
        <div class="container p-4 pb-0">
            <section class="mb-4">
                <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/utarconfessions2022/" target="_blank" role="button"><i class="bi bi-facebook"></i></a>
                <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button"><i class="bi bi-google"></i></a>
                <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i class="bi bi-instagram"></i></a>
                <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="https://www.linkedin.com/in/liew-zheng-xian-687860312/" target="_blank" role="button"><i class="bi bi-linkedin"></i></a>
                <a class="btn text-white btn-floating m-1" style="background-color: #333333;" href="https://github.com/LiewZhengXian/Frontend-Assignment" target="_blank" role="button"><i class="bi bi-github"></i></a>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            <p>&copy; 2024 FitLife. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../jquery-3.7.1.min.js"></script>
    <script src="https://hcaptcha.com/1/api.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../home.js"></script>
    <script src="../aboutus.js"></script>

    <script>
        document.getElementById('contact-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            const hCaptchaResponse = document.querySelector('textarea[name="h-captcha-response"]').value;
            if (!hCaptchaResponse) {
                alert('Please complete the hCaptcha.');
                return;
            }

            alert('Response received');
            window.location.reload();
        });
    </script>
</body>
</html>
